.container {
    text-align: center;
    margin: 20px;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.task {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}

.completed {
    text-decoration: line-through;
}

.dark-theme {
    background-color: #222;
    color: #fff;
}
